<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>uriSessao</key>
	<string>https://content.guardianapis.com/&lt;resource&gt;?api-key=cf6a8a21-ab8c-4ed5-94d0-80a7c892eb82&amp;page-size=&lt;pageQtt&gt;&amp;page=&lt;page&gt;&amp;show-fields=all</string>
	<key>uriSessoes</key>
	<string>https://content.guardianapis.com/&lt;resource&gt;?api-key=cf6a8a21-ab8c-4ed5-94d0-80a7c892eb82</string>
	<key>uriPesquisa</key>
	<string>https://content.guardianapis.com/&lt;resource&gt;?api-key=cf6a8a21-ab8c-4ed5-94d0-80a7c892eb82&amp;show-elements=all&amp;show-fields=all&amp;q=&lt;query&gt;</string>
	<key>uriPesquisaSessao</key>
	<string>https://content.guardianapis.com/&lt;resource&gt;?api-key=cf6a8a21-ab8c-4ed5-94d0-80a7c892eb82&amp;show-elements=all&amp;show-fields=all&amp;q=&lt;query&gt;&amp;section=&lt;section&gt;</string>
	<key>uriNoticia</key>
	<string>https://content.guardianapis.com/&lt;resource&gt;?api-key=cf6a8a21-ab8c-4ed5-94d0-80a7c892eb82&amp;show-elements=all&amp;show-fields=all</string>
</dict>
</plist>
